@using LearningPython.Web.ViewModels.LessonSectionViewVM
@using LearningPython.BLL.Data.Enums
@model CreateViewModel

<div class="container mt-4">
    <h2 class="mb-3">Створити нову секцію</h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <input type="hidden" id="LessonId" name="LessonId" asp-for="LessonId" />
        <div class="form-group">
            <label for="title">Назва секції</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Введіть назву">
        </div>
        <div class="form-group">
            <label for="text">Текст</label>
            <textarea class="form-control" id="text" name="text" placeholder="Введіть текст" rows="8"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Зоображення</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <textarea asp-for="Code" class="form-control" rows="10" style="font-family: monospace; white-space: pre;"></textarea>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="JsFile">JS Файл</label>
            <input type="file" class="form-control-file" id="JsFile" name="JsFile">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="JsWidth">Ширина Canvas</label>
                <input type="number" class="form-control" id="JsWidth" name="JsWidth" placeholder="Введіть ширину">
            </div>
            <div class="form-group col-md-6">
                <label for="JsHeight">Висота Canvas</label>
                <input type="number" class="form-control" id="JsHeight" name="JsHeight" placeholder="Введіть висоту">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Підтвердити</button>
        <a asp-action="Index" asp-route-id="@Model.LessonId" class="btn btn-secondary">Відмінити</a>
    </form>
</div>

