@using LearningPython.BLL.Data.Enums
@using LearningPython.Web.ViewModels.LessonVM
@model EditViewModel

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Змінити урок
        </div>
        <div class="card-body">
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Назва</label>
                    <input asp-for="Title" class="form-control" placeholder="Введіть назву">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Опис</label>
                    <input asp-for="Description" class="form-control" placeholder="Введіть опис">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LessonTag">Категорія</label>
                    <select asp-for="LessonTag" asp-items="@Html.GetEnumSelectList<LessonTag>() " class="form-control">
                        <option selected="selected" value="">@Model.LessonTag</option>
                    </select>
                    <span asp-validation-for="LessonTag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LessonImage">Зоображення</label>
                    <input asp-for="LessonImage" type="file" class="form-control" placeholder="Оберіть зоображення">
                    <span asp-validation-for="LessonImage" class="text-danger"></span>
                    <div>
                        <img src="@Model.URL" alt="Current Image" style="max-width: 200px; height: auto;">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Підтвердити</button>
            </form>
        </div>
    </div>
</div>